@font-face {
	font-family: zhFont;
	src: url("./song.ttf")/* format("ttf")*/;
}
@font-face {
	font-family: enFont;
	src: url("./Anthares.ttf")/* format("ttf")*/;
}

* {
	font-family: zhFont;
}
/*
:lang(zh) {
  font-family: zhFont, sans-serif;
}
:lang(en) {
  font-family: enFont, sans-serif;
}*/
